<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Cadastro de Livros</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">

  <div class="col-lg-12">
    <div class="panel panel-default">
      <!--<div class="panel-heading">-->
      <!--Cadastro de Livros-->
      <!--</div>-->
      <div class="panel-body">
        <div class="row">
          <form name="basicForm" role="form" novalidate>
            <div class="col-lg-4">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_title.$invalid && basicForm.book_title.$touched }">
                <label>Titulo</label>
                <input class="form-control" id="book_title" name="book_title" ng-model="bookScope.book.title" placeholder="Informe o titulo do livro" required ng-required="true">
                <!--<div ng-messages="basicForm.book_title.$error" ng-show="basicForm.book_title.$touched" style="position: fixed;color: red">-->
                  <!--<div ng-message="required">-->
                    <!--<span>Obrigatório</span>-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_autor.$invalid && basicForm.book_autor.$touched }">
                <label>Autor(es)</label>
                <input class="form-control" id="book_autor" name="book_autor" placeholder="Informe nome do Autor(a) ou Autores" ng-model="bookScope.book.author" required ng-required="true">
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_isbn.$invalid && basicForm.book_isbn.$touched }">
                <label>ISBN</label>
                <input class="form-control" id="book_isbn" name="book_isbn" placeholder="Informe o ISBN livro" ng-model="bookScope.book.isbn" required ng-required="true">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_published.$invalid && basicForm.book_published.$touched }">
                <label>Ano de publicação</label>
                <input class="form-control" id="book_published" name="book_published" placeholder="Publicação" ng-model="bookScope.book.yearPublished" required ng-required="true">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_total.$invalid && basicForm.book_total.$touched }">
                <label>Total de Páginas</label>
                <input class="form-control" id="book_total" name="book_total" type="number" placeholder="Páginas" ng-model="bookScope.book.totalPage" required ng-required="true">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Capa Url</label>
                <input class="form-control" type="url" placeholder="Informe a URL da capa" ng-model="bookScope.book.coverUrl">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_status.$invalid && basicForm.book_status.$touched }">
                <label>Status</label>
                <select ng-model="bookScope.book.status" id="book_status" name="book_status" class="form-control" name="size" required ng-required="true">
                  <option value="">Selecione</option>
                  <option value="PUBLISHED" ng-selected="bookScope.book.status==='PUBLISHED'">Ativo</option>
                  <option value="DRAFT" ng-selected="bookScope.book.status==='DRAFT'">Inativo</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group" ng-class="{ 'has-error': basicForm.book_resumo.$invalid && basicForm.book_resumo.$touched }">
                <label>Descrição Resumida</label>
                <textarea class="form-control" id="book_resumo" name="book_resumo" rows="3" ng-model="bookScope.book.description" required ng-required="true"></textarea>
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn btn-success" ng-click="bookScope.save(basicForm)" ng-disabled="basicForm.$invalid">Salvar</button>
              <button type="reset" class="btn btn-default" ng-click="bookScope.clean(basicForm)">Limpar</button>
            </div>
          </form>
        </div>

      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->


<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        Livros Cadastrados
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <th>Código</th>
          <th>Titulo</th>
          <th>Ano</th>
          <th>ISBN</th>
          <th>Autor(es)</th>
          <th>Status</th>
          <th width="30px">Editar</th>
          <th width="30px">Excluir</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in bookScope.listBooks | orderBy: 'title'">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.yearPublished}}</td>
            <td>{{item.isbn}}</td>
            <td>{{item.author}}</td>
            <td>{{item.status}}</td>
            <td>
              <a href ng-click="bookScope.edit(item)" title="editar">
                <div class="btn">
                  <span class="glyphicon glyphicon-edit"></span>
                </div>
              </a>
            </td>
            <td>
              <button type="button" class="btn btn-link" ng-click="bookScope.removeOpenDialog(item)" data-toggle="modal">
                <span class="glyphicon glyphicon-remove color-red"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->

    <!-- /.panel -->
  </div>
</div>

</div>
<!-- /.row -->

<!-- Modal -->
<div class="modal fade" id="removeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header btn-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Excluir</h4>
      </div>
      <div class="modal-body">
        Deseja excluir o livro: "{{bookScope.objectRemove.title}}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-danger" ng-click="bookScope.remove()">Sim</button>
      </div>
    </div>
  </div>
</div>
